<div class="container">
	<div class="group-panel center">
		<h2>Your groups.</h2>
		<% current_user.groups.each do |group| %>
			<p>
				<%= link_to group.name, group %>
			</p>
		<% end %>
		<br />
		<h2>Create a new group.</h2>
		<%= form_for Group.new do |f| %>
		  <%= f.label :name %>:
		  <%= f.text_field :name %><br />
		  <%= f.hidden_field :user_id, :value => current_user.id %>

		  <%= f.submit "Create New", class: "btn btn-secondary" %>
		<% end %>
		<br />
		<p>
		<%= link_to "My Account", current_user %> &nbsp;
		<%= link_to "Home", root_path %>
		</p>
		<br /><br />
		<small>Built by: The <%= link_to "Study Space", 'https://www.study.space' %> Team.</small>
	</div>
	<div class="main-panel">
		<h1><%= @group.name %></h1>
		<p>Invite users: <emp><%= link_to join_url(@group.join_id), join_path(@group.join_id) %></emp></p>

		<h3>Members</h3>
		<div class="tags">
		<% @group.users.each do |user| %>
		<li><p class="tag" style="background-color: #<%= current_user.color %>"><%= user.email %></p></li>
		<% end %>
		</div>

		<h3>Chat</h3>
		<%= react_component('ChatRoom',
			group_path: group_path,
			items_path: items_path,
			group_id: @group.id,
			user: current_user)
		%>
		<br />
		<br />
		<p>---VVV old VVV---</p>
		<% @group.items.each do |item| %>
		<p><strong><%= item.title %></strong></p>
		<p><%= item.body %></p>
		<% end %>

		<%= form_for Item.new do |f| %>
			<%= f.hidden_field :title, value: "From: " + current_user.first_name + current_user.last_name %>
			<%= f.label :body %>
			<%= f.text_field :body %>

			<%= f.hidden_field :group_id, :value => @group.id %>

			<%= f.submit %>
		<% end %>
	</div>
</div>
