<div class="container">
	<div class="group-panel center">
		<h2>Your groups.</h2>
		<% current_user.groups.each do |group| %>
			<p>
				<%= link_to group.name, group %>
			</p>
		<% end %>
		<br />
		<h2>Create a new group.</h2>
		<div class="create-group">
			<%= form_for Group.new do |f| %>
			  <%= f.label :name %>:
			  <%= f.text_field :name %><br />
			  <%= f.hidden_field :user_id, :value => current_user.id %>

			  <%= f.submit "Create New", class: "btn btn-secondary" %>
			<% end %>
		</div>
		<br />
		<p>
		<%= link_to "My Account", current_user %> &nbsp;
		<%= link_to "Home", root_path %>
		</p>
		<br /><br />
		<small>Built by: The <%= link_to "Study Space", 'https://www.study.space' %> Team.</small>
	</div>
	<div class="main-panel">
		<h1><%= @group.name %></h1>
		<p>Invite members: <emp><%= link_to join_url(@group.join_id), join_path(@group.join_id) %></emp></p>

		<h3>Members</h3>
		<%= react_component('ChatUsers',
			user_path: users_path,
			group_id: @group.id)
		%>

		<br /><h3>Chat</h3> <br />
		<div class="chat-room">
			<%= react_component('ChatRoom',
				group_path: group_path,
				items_path: items_path,
				group_id: @group.id,
				user: current_user)
			%>
		</div>
	</div>
</div>
