<div class="container">
	<div class="group-panel center">
		<h2>Your groups.</h2>
		<% @user.groups.each do |group| %>
			<p>
				<%= link_to group.name, group %>
			</p>
		<% end %>
		<br />
		<h2>Create a new group.</h2>
		<%= form_for @group do |f| %>
		  <%= f.label :name %>:
		  <%= f.text_field :name %><br />
		  <%= f.hidden_field :user_id, :value => @user.id %>

		  <%= f.submit "Create New", class: "btn btn-secondary" %>
		<% end %>
		<br />
		<%= link_to "Home", root_path %>
		<br /><br />
		<small>Built by: The <%= link_to "Study Space", 'https://www.study.space' %> Team.</small>
	</div>
	<div class="main-panel">
		<h2 class="center" id="name">Hello, <%= @user.first_name %> <%= @user.last_name %>!</h2>
	</div>
</div>