<header>
	<div class="textfield">
		<% if !current_user %>
			<%= form_tag '/login' do %>

			  Email: <%= text_field_tag :email %>
			  Password: <%= password_field_tag :password %>
			  <%= submit_tag "Login" %>

			<% end %>
			<%= link_to "Signup", signup_path %>
		<% else %>
			<p>
				<%= link_to "#{current_user.first_name} #{current_user.last_name}", current_user %>
				<%= link_to "Logout", logout_path %>
			</p>
		<% end %>
	</div>
</header>
<main>
	<div id="button">
		<form action="">
			<input class="button1" name="account" type="button" value="Account">
		</form>
		<form action="">
			<input class="button2" name="groups" type="button" value="Groups">
		</form>
		<form action="">
			<input class="button3" name="memberships" type="button" value="Memberships">
		</form>
		<form action="">
			<input class="button4" name="users" type="button" value="Users">
		</form>
	</div>
</main>